
#sliders{
	
	list-style: none;  
	position: relative; 
	width: 900px;
	height:300px;
	margin:0 auto;
	overflow: hidden;
}

#sliders li{
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

#sliders li.slider-active{
	z-index: 1;
	opacity: 1;
}